<!DOCTYPE html>
<html>
<head>
    <title>Detalhes do Empréstimo</title>
</head>
<body>
    <h1>Detalhes do Empréstimo</h1>
    <p><strong>Nome:</strong> {{ emprestimo.equipamento.nome }}</p>
    <p><strong>Número:</strong> {{ emprestimo.equipamento.numero }}</p>
    <p><strong>Sala:</strong> {{ emprestimo.equipamento.sala }}</p>
    <p><strong>Série:</strong> {{ emprestimo.equipamento.serie }}</p>
    <p><strong>Marca:</strong> {{ emprestimo.equipamento.marca }}</p>
    <p><strong>Informações:</strong> {{ emprestimo.equipamento.informacoes }}</p>
    <p><strong>Descrição:</strong> {{ emprestimo.equipamento.descricao }}</p>
    <p><strong>Data do Empréstimo:</strong> {{ emprestimo.data_emprestimo }}</p>
    <p><strong>Data de Devolução:</strong> {{ emprestimo.data_devolucao }}</p>
</body>
</html>
